services:
  postgres:
    image: 'postgres:16'
    environment:
      - 'POSTGRES_DB=student_management'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
